<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/templates/navigation-dist.css">
        <script src="/templates/navigation.js"></script>
        <script src="/scripts/external/gsap.min.js"></script>
    </head>
    <body>
        <div class="absolute flex pl-10 py-10" id="nav-container">
            <div class="anim-rect mr-10"></div>
            <a class="nav-text" href="/index.html" target="_parent">home</a>
            <a class="nav-text" href="/index.html#my-projects" target="_parent">projects</a>
        </div>
    </body>
</html>
